<form [formGroup]="form1">

  <div class="form-group">
    <label>New Password</label>
    <input
      (keyup)="onNewPwdChanged($event.target.value)"
      formControlName="newPwd"
      id="newPwd"
      type="password"
      class="form-control" />
    <div class="alert alert-danger" *ngIf="(newPwd.touched && newPwd.invalid) || !isNewPwdValid">
      <div *ngIf="newPwd.errors?.required">New Password is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Confirm Password</label>
    <input
      (keyup)="onConfirmPwdChanged($event.target.value)"
      formControlName="confirmPwd"
      id="confirmPwd"
      type="password"
      class="form-control" />
    <div class="alert alert-danger" *ngIf="(confirmPwd.touched && confirmPwd.invalid) || !isConfirmPwdValid">
      <div *ngIf="confirmPwd.errors?.required">Confirm Password is required.</div>
    </div>
    <div class="alert alert-danger" *ngIf="confirmPwd.valid && form1.invalid && form1.errors.pwdsDontMatch">
      Passwords do not match.
    </div>
  </div>

  <button class="btn btn-primary" (click)="onChangePasswordClicked()">Change Password</button>

</form>
<div *ngIf="value">{{value}}</div>
