<div *ngIf="isReady">
  <button mat-stroked-button (click)="navigate()">Back</button>
  <h3>User Information</h3>
  <ng-container *ngIf="isEditMode">
  <ul>
    <li>username : {{user.username}}</li>
    <li>first name : <input [(ngModel)]="user.firstName"></li>
    <li>last name : <input [(ngModel)]="user.lastName"></li>
  </ul>
      <button mat-stroked-button (click)="save()">Save</button>
<!--    <button mat-stroked-button (click)="delete()">Delete</button>-->
  </ng-container>
  <ng-container *ngIf="!isEditMode">
    <mat-card>

      <mat-card-content>
        <mat-error *ngIf="loginCredentials.invalidUser">{{loginCredentials.invalidUser}}</mat-error>
        <mat-form-field >
          <input matInput placeholder="Username" #username required>
        </mat-form-field>
        <mat-error *ngIf="loginCredentials.loginMessage">{{loginCredentials.loginMessage}}</mat-error>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" #password required>
        </mat-form-field>
        <mat-error *ngIf="loginCredentials.passwordMessage">{{loginCredentials.passwordMessage}}</mat-error>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="mail" placeholder="mail" #email required>
        </mat-form-field>
        <mat-error
          *ngIf="loginCredentials.emailMessage">{{loginCredentials.emailMessage}}</mat-error>
      </mat-card-content>
      <mat-card-subtitle>
        role(s): {{userRoles}}
      </mat-card-subtitle>
      <mat-card-actions>
      <button mat-stroked-button (click)="openDialog()">add Role</button>
      <button mat-stroked-button color="primary" (click)="createUser(username.value, password.value, email.value)">Create User</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

</div>
